*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --green : #03C988;
    --red: #FF0032;
    --blue: #362FD9;
    --black : #181D31;

}

body{
    height: 100%;
    width: 100%;
    background-color:  #fff;
}

h1{
    color: var(--black);
    text-align: center;
    margin-top: 2%;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.section--tasks{
    max-width: 40%;
    height: auto;
    margin: auto;
    margin-top: 2%;
}

.task--add-container{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0px 0px 25px #181d3160;
    padding: 3px;
}

.inputs--cont{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#input--name{
    width: 100%;
    height: 30px;
    padding: 5px;
    color: var(--black);
    outline: none;
    border: none;
    border-bottom: .7px solid #181d3160;
    text-align: center;
    margin-bottom: 3px;
    transition: border .4s ease-in-out;
}
#input--name:focus{
    border-bottom: .7px solid var(--blue);

}
#description-input{
    border: none;
    width: 100%;
    resize: none ;
    outline: none;
    padding: 5px;
    margin-bottom: 3px;
    height: 100px;
    color: var(--black);
    border-bottom: .7px solid #181d3160;
    transition: border .4s ease-in-out;
}
#description-input:focus{
    border-bottom: .7px solid var(--blue);
}

.btn--cont{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#btn--cancel , #btn--add {
    height: 30px;
    width: 90px;
    font-size: 13px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color .4s ease-in-out;
}

#btn--cancel{
    background-color: var(--red);
}
#btn--add{
    background-color: var(--green);
}

#btn--cancel:hover{
    background-color: #ff003388;
}
#btn--add:hover{
    background-color: #03c98788;
}


/* task added  section*/

.added--task-section{
    height: auto;
    max-width: 70%;
    margin: 3% auto;
    padding: 2%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.added--task-cont{
    padding-left: 15px;
    border-radius: 7px;
    border-left: 5px solid var(--blue);
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 5px 10px #181d3160;
    transition: all .4s ease-in-out;
}

.added--task-cont:hover{
    box-shadow: 0px 5px 10px #352fd9d0;

}
.name--added-task{
    color: var(--black);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-bottom:1px solid #47474788;
    display: inline-block;
    width: 98%;
}

textarea{
    width: 98%;
    border-bottom:1px solid #47474788;
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .7px;
    outline: none;
    resize: none;
    text-transform: capitalize;
    white-space: normal;
    overflow-y: auto;
    border: none;
}

.btn--delete-added{
    background-color: var(--red);
    max-width: 13%;
    height: 30px;
    padding: 3px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 200;
    margin-top: 1%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.btn--delete-added:hover{
    background-color: #ff003388;
}