*{
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #00416a, #476788, #7a8fa6, #aeb9c6, #e4e5e6);
}

form{
    height: 85vh;
    width: 35vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px #00000057;
}

.title-form{
    height: 20%;
    width: 80%;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.title-form h2{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: -10px;
}

.title-form p{
    opacity: .8;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.input-cont{
    height: 50%;
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.input-cont input{
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: .3px solid #00000057;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}

.input-cont input::placeholder{
    /* transform: translateX(10px);
    transform: translateY(-20px); */
    color: #000;
    opacity: .7;
}