*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: #181D31;
}

.body--calculator{
    width: 350px;
    height: 450px;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

#result {
    width: 100%;
    height: 20%;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.26);
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
}

.number--cont{
    /* background-color: aqua; */
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 2px;
    gap: 20px;
}

.number--cont button{
    height:45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.815);
    
}

#equal--btn{
    background-color: #54B435;
    width: 150px ;
    border-radius: 15px;
}

.punt , .sum , .res , .multi , .div{
    background-color: #09c59c !important;
}

.reset {
    background-color: red !important;
}




