:root{
    /* fonts */

    --font-main :'Roboto', sans-serif;
    --weight-medium : 500;
    --weight-regular : 400;
    --weight-light : 300;
    --weight-thin : 100;

    /* colors */

    --bg-p :#f1f1f1;
    --black : #14151a;
    --white : #f0f0f0;
    --teal: #2694af;

} 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-p);
}

 

.home{
    height: 100vh;
    width: 100vw;
    position: relative;
    animation-name: home-animation;
    animation-duration: 2s;

}

@keyframes home-animation{
    0% {
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.circle-home{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: var(--black);
    position: absolute;
    top: -50%;
    right: -18%;
}

nav{
    backdrop-filter: blur(10px) saturate(149%);
    -webkit-backdrop-filter: blur(10px) saturate(149%);
    background-color: rgba(255, 255, 255, 0.35);
    height: 10%;
    width: 80%;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 10%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.logo img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 5px;
}

.logo h3{
    font-size: 17px;
    color: var(--black);
    letter-spacing: 1px;
    font-weight: var(--weight-regular);
}

.options{
    height: auto;
    width: auto;

}

.options li{
    list-style: none;
}

.options ul li a{
    text-decoration: none;
    color: var(--black);
    margin-right: 8px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: var(--weight-light);
    transition: color .3s ease-in-out;
}

.options ul li a:hover{
    color: var(--teal);
}
.main-info-cont{
    height: auto;
    width: auto;
    position: absolute;
    font-weight: var(--weight-medium);
    top: 30%;
    left: 10%;
}

.title{
    height: auto;
    width: auto;
    margin-bottom: 30px;
}

.title h1{
    font-size: 80px;
    font-weight: var(--weight-medium);
    letter-spacing: 2px;
    color: var(--black);

}

.desc p {
    font-size: 22px;
    font-weight: var(--weight-light);
    color: var(--black);
    opacity: .8;
}

.link-info-home{
    margin-top: 15%;
    height: auto;
    width: auto;
    display: flex;
}
/* 
.contact-btn{
    width: 125px;
    height: 50px;
    outline: none;
    border: none;
    background-color: var(--teal);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* 
.contact-btn a{
    color: var(--white);
    z-index: 100;
    font-size: 17px;
    font-weight: var(--weight-light);
    text-decoration: none;
} */

.see-more-btn{
    width: 125px;
    height: 50px;
    background-color: var(--teal);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-more-btn a{
    color: var(--bg-p);
    font-size: 17opx;
    font-weight: var(--weight-light);
    text-decoration: none;
    transition: color .3s ease-in-out;
    /* height: 100%; */
    width: 100%;
    text-align: center;
}

.contact-btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 101, 116, 0.726)

}

.see-more-btn:hover{
    box-shadow: 4px 4px 8px rgba(0, 101, 116, 0.726);
    background-color: var(--teal);
    color: var(--white);
    border: none;
}


.see-more-btn a:hover{
    color: var(--white);
}

/* about me */

.about-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

@keyframes about-animation{
    0% {
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.about-info{
    width: 50% ;
    height:70%;
    margin: auto;
    padding: 15px;
        
}


.about-info h2{
    font-size: 60px;
    font-weight: var(--weight-regular);
    margin-bottom: 5%;
    color: var(--black);
    position: relative;
}

.about-info h2::after{
    content: "";
    height: 1px;
    width: 47%;
    opacity: .3;
    position: absolute;
    top: 60%;
    left: 43%;
    background-color: var(--black);
}
.about-info p{
    text-align: start;
    width: 90%;
    height: 100%;
    color: var(--black);
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    font-weight: var(--weight-light);
    opacity: .8;
}

.about-cont img{
    height: 70%;
    width: 40%;
    object-fit: cover;
}

.knowledge{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

@keyframes know-animation{
    0% {
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.kn-title{
    height: auto;
    width: auto;
    padding: 10px;
}

.kn-title h2{
    color: var(--black);
    font-size: 40px;
    font-weight: var(--weight-regular);
}

.grid-kn--cont{
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

.card{
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

.card:hover{
    border: 1px solid var(--teal);

}
.card-title{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 30px;
    color: var(--teal);
    transform: translateY(10px);
    font-weight: var(--weight-thin);
    letter-spacing: 1px;
}

.card-title img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.p1-html, .p1-css, .p1-js, .p1-git{
    color: var(--black);
    opacity: .9;
    text-align: justify;
    font-size: 16px;
    font-weight: var(--weight-light);
    line-height: 1.3;
}

.p2-html, .p2-css, .p2-js, .p2-git{
    color: var(--black);
    font-size: 14px;
    opacity: .7;
    line-height: 1.3;
    text-align: justify;
    font-weight: var(--weight-thin);
}

.contact-cont{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes contact-animation{
    0% {
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.contact-cont h2{
    font-size: 40px;
    font-weight: var(--weight-regular);
    color: var(--black);
    margin-bottom: 10px;
}

.contact-cont p{
    height: auto;
    width: auto;
    display: flex;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--weight-light);
    flex-direction: column;
    align-items: center;
    opacity: .8;
}

.contact-cont span{
    margin-bottom: 20px;
}


/* 15/09/2022 */