*{
    font-family: sans-serif;
    padding: 0;
    margin: 00;
}

:root{
    --backg :#020204;
    --white :#FEFBF6;
    --purple :#31087B;
}

body{
    background-color: var(--backg);
}

::selection{
    background-color: var(--purple);
}

.landing-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav-cont{
    height: 10vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-cont{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.logo-cont h3{
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 0 10px #5a08f3dc;
    line-height: 1.1;
}

.logo-cont img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}


ul li{
    display: inline-block;
    margin-left: 10px;
}

ul li a{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 300;
    transition: color .3s ease;
}

ul li a:hover{
    /* color: var(--purple); */
    text-shadow: 0 0 10px #5a08f3dc;
        text-decoration: underline;
}

.info-cont{
    height: 90vh;
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.text-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-info h1{
    color: var(--white);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: start;

    animation-name:titulo-animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes titulo-animacion{
    0%{
        text-shadow: 0 0 15px #955dfd2c;
        
    }
    50%{
        text-shadow: 0 0 40px #6413fabe;
        
    }
    100%{
        text-shadow: 0 0 15px #955dfd2c;
        
    }
}

.text-info p{
    color: var(--white);
    font-size: 20px;
    opacity: .8;
    margin-top: -15px;
    font-weight: 300;
    line-height: 1.3;
}
.img-cont{
    height: 100%;
    width: 45%;
}


.img-cont img{
    transform: translateY(5px);
    height: 99%;
    width: 100%;
    object-fit: cover;
}

input[type="email"]{
    height:35px;
    width: 400px;
    background-color: transparent;
    padding: 7px;
    outline: none;
    color: var(--white);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: .3s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="email"]::placeholder{
    color: var(--white);
}

input[type="email"]:focus{
    box-shadow: 0 0 20px #4919a185;
}
input[type="submit"]{
    margin-left: 10px;
    height: 53px;
    width: 100px;
    border-radius: 3px;
    border: none;
    color: var(--white);
    font-size: 15px;
    cursor: pointer;
    background-color: var(--purple);
    transition: .3s ease;
}

input[type="submit"]:hover{
    box-shadow: 0 0 15px #4919a1cc;

}

/* 21/09/2022 */