:root{
    /* --bg : linear-gradient(79.39deg, #3A3E47 1.29%, #96A1A8 95.52%); */
    --background : rgba(0,4, 15, 9); 
    --txt-white : rgb(250, 242, 242);
    --blue : #5be1e6;
    --light : 100;
    --mid : 300;
    --bolt : 500;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
::selection{
    background-color: var(--blue);
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}


/* --------   NAVEGACIÓN    ---------- */

nav{
    height: auto;
    width: 85vw;
    margin: auto;
    padding: 5px;
    transform: translateY(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 220px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a{
    color: var(--txt-white);
    text-decoration: none;
    font-weight:var(--light);
    font-size: 17px;
    margin-right:70px;
    transition: color .3s ease-in-out;
}

nav ul li a:hover{
    color: var(--blue);
}

.menu--icon{
    height: 15px;
    cursor: pointer;
    display: none;
}



/* --------   HERO    ---------- */

.hero{
    
    height: 83%;
    width: 93vw;
    margin: auto;
    margin-top: 3vh;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}

.hero--text{
    width: 60%;
    height: 100%;
    position: relative;
}

.hero--desc{
    background-color: rgb(26, 24, 24);
    height: 30px;
    width: auto;
    padding: 5px;
    border-radius: 6px;
    color: var(--txt-white);
    font-size: 13px;
    font-weight: var(--light);
}

.hero--text h1{
    font-size: 50px;
    font-weight: var(--bolt);
    margin-top: 3%;
    line-height: 1.5;
    color: var(--txt-white);
}

.hero--text h1 > span{
    /* solo visible en chrome o safari etc */
    background-image: linear-gradient(24.34deg, #42b0b4,  #ffffff);
    color: transparent;
    -webkit-background-clip: text;

}

.hero--text p {
    color: var(--txt-white);
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    font-weight: var(--light);
    opacity: .8;
    margin-top: 4%;
}

.hero--text button{
    background-color: #42b0b4;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 43%;
    background-color: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
    font-size: 15px;
    font-weight: var(--light);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.hero--text button img{
    height: 15px;
    width: 15px;
    object-fit: cover;
    transform: translateY(3px);
}

.hero--text button:hover{
    border: 2px solid #5be1e677;
    color: var(--txt-white);

}

.img--des{
    height: 20px;
    width: 20px;
    margin-right: 7px;
    transform: translateY(5px);
    margin-top: 10%;
}

.hero--img{
    width: 50%;
    position: relative;

}

.hero--img img{
    height: 90%;
    width: 100%;
    object-fit: fill;
}

.hero--blur{
    z-index: -100;
    position: absolute;
    top: 2%;
    height: 80%;
    left: 15%;
    width: 60%;
    background-color: #83fbff;
    filter: blur(150px);
}


/* ------------   SECTION 2    --------------- */

.section2--cont{
    height: 100vh;
    width: 85vw;
    margin: auto;
}

.stadistics{
    height: 15%;
    transform: translateY(45%);
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.stadistic--data{
    height: auto;
    position: relative;
    padding: 10px;
}
.stadistic--data::after{
    content: "";
    background-color: #fff;
    height: 20px;
    width: 2px;
    position: absolute;
    top: 33%;
    left: 100%;
}

.stadistic--data p{
    font-size: 25px;
    color: var(--txt-white);
    font-weight: var(--bolt);
}

.stadistic--data span{
    background-image: linear-gradient(24.34deg, #42b0b4,  #ffffff);
    color: transparent;
    -webkit-background-clip: text;   
}

.data-1 , .data-2{
    margin-right: 10%;
}

.info--cont-sect2{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text--sect2{
    height: 70%;
    width: 40%;
}

.text--sect2 h2{
    font-size: 40px;
    line-height: 1.5;
    font-weight: var(--bolt);
    color: var(--txt-white);
}

.text--sect2 p{
    color: var(--txt-white);
    font-weight: var(--mid);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5%;
    opacity: .7;
}

.text--sect2 button{
    margin-top: 7%;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 15px;
    font-weight: var(--bolt);
    cursor: pointer;
    background-color: #83fbff;
    transition: all .3s ease-in-out;
}

.text--sect2 button:hover{
    background-color: #42b0b4;
}
.cards--sect2{
    width: 45%;
    height: 70%;
}

.card{
    height: 30%;
    width: 80%;
    margin-bottom: 4%;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.356);
}
.img--card{
    height: 40px;
    width: 45px;
    margin-right: 10px;
    background-color: #5be1e64f;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img--card img{
    height: 30px;
    width: 30px;
    
}

.info--cards{
    width: auto;
}

.info--cards h4{
    font-size: 20px;
    font-weight: var(--bolt);
    color: var(--txt-white);
}

.info--cards p{
    color: var(--txt-white);
    font-size: 14px;
    font-weight: var(--mid);
    opacity: .7;
    margin-top: 3%;
    
}


/* ---------- SECTION 3  ------------- */


.section3--cont{
    height:100vh;
    width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img--cont{
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img--cont::before{
    content: "";
    height: 300px;
    width: 400px;
    background-color: #83fbff;
    position: absolute;
    top: 30%;
    left: -50%;
    z-index: -10;
    filter: blur(150px);

}
.info--cont{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img--cont img{
    height: 90%;
    width: 90%;
}

.info--cont h2{
    color: var(--txt-white);
    font-size: 45px;
    font-weight: var(--bolt);
    line-height: 1.5;
}

.info--cont p{
    color: var(--txt-white);
    font-size: 16px;
    font-weight: var(--mid);
    margin-top: 5%;
    opacity: .7;
}

.info--cont-img{
    margin-top: 10%;
}
.info--cont-img img{
    height: 45px;
    width: 110px;
    margin-right: 20px;
}

/* ----------  SECTION 4  -------- */

.section4--cont{
    height: 100vh;
    width: 85vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.info--sect4-cont  h2{
    color: var(--txt-white);
    font-size: 45px;
    line-height: 1.5;
    font-weight: var(--bolt);
}

.info--sect4-cont p{
    color: var(--txt-white);
    font-weight: var(--mid);
    font-size: 15px;
    margin-top: 5%;
    line-height: 1.5;
    opacity: .7;
}

.info--sect4-cont button{
    margin-top: 7%;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 15px;
    font-weight: var(--bolt);
    cursor: pointer;
    background-color: #83fbff;
    transition: all .3s ease-in-out;
}

.info--sect4-cont button:hover{
    background-color: #42b0b4;
}


.img--sect4-cont img{
    height: 400px;
    width: 450px;
}

/* -------      SECTION 5      ----------   */

.section5--cont{
    height:85vh;
    width: 85vw;
    margin: auto;
}

.text--sect5-cont{
    height: 20%;
    width: 100%;
    display: flex;
    /* margin-top: 5%; */
    justify-content: space-around;
    align-items: center;
}

.text--sect5-cont  h2{
    color: var(--txt-white);
    font-size: 45px;
    font-weight: var(--bolt);
    line-height: 1.5;
}

.text--sect5-cont p{
    font-size: 15px;
    color: var(--txt-white);
    font-weight: var(--light);
    line-height: 1.5;
    opacity: .7;
}

.cards--sect5-cont{
    height: 45%;
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    justify-items: center;
    position: relative;
}

.cards--sect5-cont::before{
    content: "";
    height: 300px;
    width: 300px;
    background-color: #83fbff;
    position: absolute;
    top: 0%;
    right: -30%;
    z-index: -10;
    filter: blur(150px);
}


.card--test{   
    height: 100%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.card--test:hover{
    background-color: rgba(255, 255, 255, 0.356);
}

.quotes{
    margin-top: 5%;
    height: 25px;
    width: 35px;
}

.card--test p{
    color: var(--txt-white);
    opacity: .7;
    font-size: 15px;
    font-weight: var(--mid);
    line-height: 1.5;
    text-align: justify;
}

.person---card{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.person---card img{
    height: 50px;
    margin-right: 10px;
}

.info--person-card h4{
    font-weight: 300;
    color: var(--txt-white);
    font-size: 20px;
}

.info--person-card span{
    color: var(--txt-white);
    font-size: 13px;
    font-weight: var(--light);
    opacity: .7;
}

.company--sect5-cont{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}

.company--sect5-cont img{
    height: 30px;
}

/* --------------  SECTION 6 ------------------ */

.section6--cont{
    height: 100vh;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.call-action--cont{
    width: 100%;
    height: 40%;
    margin-top: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.356);
}

.text--cont-sect6 h2{
    color: var(--txt-white);
    font-size: 50px;
    font-weight: var(--bolt);
    line-height: 1.5;
}

.text--cont-sect6 p{
    color: var(--txt-white);
    opacity: .7;
    font-size: 15px;
    font-weight: var(--mid);
    letter-spacing: .1rem;
    line-height: 1.3;
}

.btn--cont6 button{
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 15px;
    font-weight: var(--bolt);
    cursor: pointer;
    background-color: #83fbff;
    transition: all .3s ease-in-out;
}

.btn--cont6 button:hover{
    background-color: #42b0b4;
}

footer{
    height: 35%;
    width: 100%;
    position: relative;
}

.links{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.322);
}

.logo--footer img{
    width: 220px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 3%;
}

.logo--footer p{
    color: var(--txt-white);
    font-size: 15px;
    font-weight: var(--mid);
    opacity: .7;
    line-height: 1.2;
}

.usefull--links {
    height: auto;
    width: auto;
}

.usefull--links-cont h3{
    color: var(--txt-white);
    font-size: 20px;
    font-weight: var(--bolt);
    letter-spacing: .1rem;
    margin-bottom: 2px;
}

.usefull--links-cont li{
    list-style: none;
    margin-bottom: 5px;
}

.usefull--links-cont a{
    color: var(--txt-white);
    font-weight: var(--mid);
    font-size: 14px;
    text-decoration: none;
    opacity: .7;
    transition: all .3s ease-in-out;
}


.usefull--links-cont a:hover{
    text-decoration: underline;
}

.community--links-cont{
    height: auto;
    width: auto;
}

.community--links-cont  h3{
    color: var(--txt-white);
    font-size: 20px;
    font-weight: var(--bolt);
    letter-spacing: .1rem;
    margin-bottom: 2px;
}

.community--links-cont li{
    list-style: none;
    margin-bottom: 5px;
}

.community--links-cont a{
    color: var(--txt-white);
    font-weight: var(--mid);
    font-size: 14px;
    text-decoration: none;
    opacity: .7;
    transition: all .3s ease-in-out;
}

.community--links-cont a:hover{
    text-decoration: underline;
}

.Partners--links{
    height: 75%;
    width: auto;
}

.Partners--links h3{
    color: var(--txt-white);
    font-size: 20px;
    font-weight: var(--bolt);
    letter-spacing: .1rem;
    margin-bottom: 2px;
}

.Partners--links li{
    list-style: none;
    margin-bottom: 5px;
}

.Partners--links a{
    color: var(--txt-white);
    font-weight: var(--mid);
    font-size: 14px;
    text-decoration: none;
    opacity: .7;
    transition: all .3s ease-in-out;
}

.Partners--links a:hover{
    text-decoration: underline;
}

.copyright--social-cont {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy--cont p{
    color: var(--txt-white);
    font-size: 16px;
    font-weight: var(--mid);
    line-height: 1.3;
}

.social--icons-cont img{
    height: 15px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

footer::before{
    content: "";
    height: 200px;
    width: 150px;
    background-color: #83fbff;
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -100;
    filter: blur(150px);
}

/* ------------- RESPONSIVE ------------ */


@media screen and (max-width : 425px) {

    /* section 1 */
    body{
        overflow-x: hidden;
    }
    /* navegacion */
    .menu--icon{
        display: block;
    }

    .logo{
        height: 85px;
        width: 85px;
        object-fit: contain;
    }
    nav ul {
        display: none;
    }

    /* hero */

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .hero--text{
        width: 90%;
        height: 100%;
        position: relative;
    }
    
    .hero--desc{
        display: none;
    }
    
    .hero--text h1{
        font-size: 25px;
        margin-top: 8%;
    }
    
    
    .hero--text p {
        font-size: 12px;
        opacity: .8;
    }
    
    .hero--text button{
        height: 60px;
        width: 60px;
        position: absolute;
        top: 20%;
        left: 60%;
        border: 1px solid var(--blue);
        font-size: 10px;

    }
    
    .hero--text button img{
        height: 12px;
        width: 12px;
        transform: translateY(3px);
    }
    
    
    .hero--img{
        width: 100%;
        height: 40%;
        position: relative;
        margin-top: 5%;
    
    }
    
    
    .hero--blur{
        z-index: -100;
        position: absolute;
        height: 80%;
        left: 65%;
    }
    
    /* section 2 */

    

    .section2--cont{
        height: 100vh;
        width: 90vw;
        margin: auto;
    }
    
    .stadistics{
        height: 15%;
        width: 90%;
        transform: translateY(25%);
        margin-bottom: 2%;

    }
    
    
    .stadistic--data{
        height: auto;
        position: relative;
        padding: 5px;
    }
    
    .stadistic--data p{
        font-size: 10px;

    }
    
    .data-1 , .data-2{
        margin-right: 7%;
        margin-left: 7%;
    }
    
    .info--cont-sect2{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 7%;
    }
    
    .text--sect2{
        height: 50%;
        width: 100%;
    }
    
    .text--sect2 h2{
        font-size: 20px;
        line-height: 1.3;
        margin-top: 15%;
    }
    
    .text--sect2 p{
        font-size: 10px;
    }
    
    .text--sect2 button{
        margin-top: 7%;
        height: 25px;
        width: 70px;
        font-size: 10px;
        font-weight: var(--bolt);
    }
    
    .cards--sect2{
        width: 100%;
        height: 100%;
        margin-top: 2%;
        margin-right: 15%;
    }
    
    .card{
        height: 30%;
        width: 100%;
        padding: 2px;
        margin-left: 3%;

    }
   
    .img--card{
        height: 25px;
        width: 25px;
        margin-right: 10px;
        margin-left: -5%;
        padding: 5px;

    }
    .img--card img{
        height: 18px;
        width: 18px;
        
    }
    
    .info--cards{
        width: 80%;
    }
    
    .info--cards h4{
        font-size: 14px;
    }
    
    .info--cards p{
        text-align:start;
        font-size: 10px;
 
        margin-top: 3%;
        
    }
    
/* section 3*/

.section3--cont{
    height:100vh;
    width: 90vw;
    margin: auto;
    margin-top: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img--cont{
    height: 50%;
    width: 80%;
}

.img--cont::before{
    height: 250px;
    width: 250px;
    top: 30%;
    left: -100%;
}
.info--cont{
    height: 80%;
    width: 80%;
}
.img--cont img{
    height: 90%;
    width: 90%;
}

.info--cont h2{
    font-size: 25px;
    line-height: 1.3;
}

.info--cont p{
    font-size: 12px;
    font-weight: var(--mid);
    margin-top: 5%;
}

.info--cont-img{
    margin-top: 7%;
}
.info--cont-img img{
    height: 25px;
    width: 90px;
    margin-right: 5px;
}

/* section 4 */


.section4--cont{
    height: 100vh;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info--sect4-cont  h2{
    font-size: 25px;
    line-height: 1.2;
}

.info--sect4-cont p{
    font-size: 10px;
    margin-top: 5%;
    line-height: 1.3;
}

.info--sect4-cont button{
    margin-top: 7%;
    height: 25px;
    width: 70px;
    font-size: 10px;
}

.info--sect4-cont button:hover{
    background-color: #42b0b4;
}


.img--sect4-cont img{
    height: 200px;
    width: 250px;
    margin-top: 10%;
}

/* section 5 */


.section5--cont{
    height:100vh;
    width: 85vw;
}

.text--sect5-cont{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text--sect5-cont  h2{
    font-size: 25px;
    line-height: 1.3;
}

.text--sect5-cont p{
    font-size: 12px;
    line-height: 1.3;
    opacity: .7;
    margin-top: 5px;
}

.cards--sect5-cont{
    height: 35%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    justify-items: center;
}

.cards--sect5-cont::before{
    content: "";
    height: 220px;
    width: 220px;
    background-color: #83fbff;
    right: -50%;
}


.card--test{   
    margin-top: 15%;
    margin-bottom: 2%;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10px;
   
}

.quotes{
    margin-top: 5%;
    height: 10px;
    width: 20px;
}

.card--test p{
    font-size: 8px;
    line-height: 1.2;
    text-align: justify;
    margin-top: 5%;
}

.person---card{
    margin-top: 3%;
    margin-bottom: 2%;
}

.person---card img{
    height: 20px;
    margin-right: 10px;
}

.info--person-card h4{
    font-weight: 300;
    font-size: 10px;
}

.info--person-card span{
    font-size: 7px;
}

.company--sect5-cont{
    height: 10%;
    margin-top: 30%;
}

.company--sect5-cont img{
    height: 13px;
}


/* section 6 */


.section6--cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.call-action--cont{
    width: 90%;
    height: 18%;
    margin-top: 5%;
}

.text--cont-sect6 h2{
    font-size: 15px;
    margin-bottom: 2%;
}

.text--cont-sect6 p{
    font-size: 7px;
}

.btn--cont6 button{
    height: 20px;
    width: 70px;
    font-size: 9px;
}


footer{
    align-items: center;
    height: 25%;
    width: 95%;
    position: relative;
}

.links{
    height: 50%;
    width: 100%;
    margin-bottom: 0%;
    margin-top: 8%;
    border-bottom: none;
}

.logo--footer img{
    width: 60px;
    height: 30px;
    object-fit: contain;
}

.logo--footer p{
    font-size: 10px;
}

.usefull--links {
    height: auto;
    width: auto;
}

.usefull--links-cont h3{
    font-size: 10px;
    margin-bottom: 2px;
}

.usefull--links-cont li{
    list-style: none;
    margin-bottom: 1px;
}

.usefull--links-cont a{
    font-size: 6px;
}
.usefull--links {
    height: auto;
    width: auto;
}

.community--links-cont h3{
    font-size: 10px;
    margin-bottom: 2px;
}

.community--links-cont li{
    list-style: none;
    margin-bottom: 1px;
}

.community--links-cont a{
    font-size: 6px;
}
.Partners--links {
    height: auto;
    width: auto;
    margin-top: -13%;
}

.Partners--links h3{
    font-size: 10px;
    margin-bottom: 2px;
}

.Partners--links li{
    list-style: none;
    margin-bottom: 1px;
}

.Partners--links a{
    font-size: 6px;
}
.copyright--social-cont {
    width: 100%;
    height: 15%;
    margin-top: 20%;
}

.copy--cont p{
    font-size: 10px;
}

.social--icons-cont img{
    height: 10px;
    width: 20px;
}
}

