*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: var(--green-tint);
}

:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --fz-hero: 4.3rem;
    --border-radius: 4px;
    --nav-height: 100px;
    --transitions:.3s ease-in-out;
}

body{
    background-color: var(--navy);
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    overflow-x: hidden;
}

body::after{
    content: "";
    height: 35vh;
    width: 25vw;
    background-color: var(--green);
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: -100;
    filter: blur(200px);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--lightest-navy);
    
}



/* navegacion */

nav{
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: rgba(10, 25, 47, 0.85); */
    /* backdrop-filter: blur(10px); */
    border-radius: 25px;
    z-index: 100;
}

.navbar--icon{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.navbar--icon h4{
    color: var(--lightest-slate);
    font-size: var(--fz-xl);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transitions);
}

.navbar--icon h4:hover{
    color: var(--light-slate);
}
nav i{
    color: var(--green);
    font-weight: 100;
    font-size: 
    var(--fz-xxl);
    cursor: pointer;
    transition: var(--transitions);
}

nav i:hover{
    color: var(--green-tint);
}
nav ul{
    display: flex;
    gap: 40px;
}

nav ul li{
    list-style: none;
    position: relative;
}

nav ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin:bottom left;
    background-color: var(--green);
    transition:  transform var(--transitions);
}

nav ul li:hover::after{
    transform: scaleX(1);
}
nav ul li a{
    text-decoration: none;
    color: var(--lightest-slate);
    font-size: var(--fz-sm);
    font-weight: 400;
    letter-spacing: .7px;
    transition: var(--transitions);
}

nav ul li a:hover{
    color: var(--light-slate);
}



/* hero  section*/

.hero{
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.greeting--span{
    color: var(--green);
    font-size: var(--fz-lg);
    font-weight: 400;
    letter-spacing: .6px;
}

.hero h1{
    font-size: var(--fz-hero);
    color: var(--white);
    font-weight: 800;
    position: relative;
}

.title--hero::after{
    position: absolute;
    content: "";
    width: 45%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--green);
    top: 45%;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform var(--transitions);
    animation-name: after--title-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes after--title-animation {
    0%{
        transform: scaleX(0);
    }100%{
        transform: scaleX(1);
        transform-origin: bottom right;
    }
}

.hero h1 > span{
    color: var(--light-slate);
}

.p--hero{
    color: var(--light-slate);
    font-size: var(--fz-xl);
    font-weight: 400;
}

.p--hero > span{
    color: var(--green);
}

.btn--hero{
    width: 250px;
    height: 45px;
    margin-top: 5%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    font-size: var(--fz-lg);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transitions);
}

.btn--hero:hover{
    background-color: var(--green-tint);
}

.btn--hero i{
    margin-left: 5px;
}

/* about me section */

.about--cont{
    width: 100%;
    height: 80vh;
    margin: auto;
    padding-top: 10%;
    text-align: left;
}

.about--cont h3{
    color: var(--white);
    font-size: var(--fz-heading);
    font-weight: 400;
    letter-spacing: .7px;
    position: relative;
    margin-bottom: 3%;
}


.about--cont h3 > i{
    color: var(--green);
    font-size: var(--fz-xs);
    transform: translateY(-5px);
}

.about--cont p{
    color: var(--light-slate);
    font-size: var(--fz-md);
    font-weight: 400;
    text-align: justify;
}

.about--cont p > span{
    color: var(--green);
}

.about--cont button{
    width: 250px;
    height: 45px;
    margin-top: 3%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    font-size: var(--fz-lg);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transitions);
}

.about--cont button:hover{
    background-color: var(--green-tint);
}


/* projects section */

.projects-cont{
    width: 100%;
    height: auto;
    margin: auto;
}

.title-project-cont  h4{
    color: var(--white);
    font-size: var(--fz-heading);
    font-weight: 400;
    letter-spacing: .7px;
    position: relative;
    margin-bottom: 3%;
}

.projects-cont i{
    color: var(--green);
    font-size: var(--fz-xs);
    transform: translateY(-5px);
}

.info--project{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 5rem;
    position: relative;
}


 .project-2  , .project-4 {
    flex-direction: row-reverse;
} 

.info--project-img{
    width: 100%;
}
.info--project-img  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.info--projects-data  > h4{
    color: var(--lightest-slate);
    font-size: var(--fz-heading);
    font-weight: 400;
    letter-spacing: .7px;
    margin-bottom: 1%;
}

.card--info-project{
    color: var(--light-slate);
    font-size: var(--fz-md);
    font-weight: 400;
    letter-spacing: .5px;
}

.info--projects-data > p{
    color: var(--green);
    font-size: var(--fz-xxs);
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 5%;
    line-height: 1px;
    position: relative;
}

.info--projects-data > p::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    left: 27%;
    bottom: 50%;
    background-color: var(--lightest-slate);
}


/* knowledge section */

.know--cont{
    width: 100%;
    height: 80vh;
    margin: auto;
    padding-top: 10%;
    text-align: left;
}

.know--cont h3{
    color: var(--white);
    font-size: var(--fz-heading);
    font-weight: 400;
    letter-spacing: .7px;
    position: relative;
    margin-bottom: 3%;
}


.know--cont h3 > i{
    color: var(--green);
    font-size: var(--fz-xs);
    transform: translateY(-5px);
}

.know--cont p{
    color: var(--light-slate);
    font-size: var(--fz-md);
    font-weight: 400;
    text-align: justify;
}

.know--cont p > span{
    color: var(--green);
}

.know--cont button{
    width: 250px;
    height: 45px;
    margin-top: 5%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    font-size: var(--fz-lg);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transitions);
}

.know--cont button:hover{
    background-color: var(--green-tint);
}

.know--icons-cont{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 5%;
}

.icons-know{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: var(--transitions);
}

.icons-know > i{
    font-size: var(--fz-hero);
    color: var(--white);
    transition: var(--transitions);
}

.icons-know > p{
    color: var(--lightest-slate);
    font-size: var(--fz-md);
    font-weight: 400;
}
.icons-know:hover{
    transform: translateY(-15px);
}

.icons-know:hover > p {
    color: var(--green);
}

.icons-know:hover > i {
    color: var(--green);
}

/* contact section */

.contact--cont{
    margin-top: 15%;
    height: 70vh;
    text-align: center;
}

.contact--cont > h3{
    color: var(--white);
    font-size: var(--fz-hero);
    font-weight: 800;
    text-transform: capitalize;
}

.contact--cont  span{
    color: var(--green);
}
.contact--cont > p{
    font-size: var(--fz-xxl);
    color: var(--lightest-slate);
}

.contact--cont button{
    width: 250px;
    height: 45px;
    margin-top: 5%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    font-size: var(--fz-lg);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transitions);
}

.contact--cont button:hover{
    background-color: var(--green-tint);
}

/* credit section */

.credit--cont{
    margin: auto;
    width: 100%;
    transform: translateY(-10%);
    text-align: center;

}
.credit--span{
    color: var(--lightest-slate);
    font-size: var(--fz-md);
    font-weight: 400;
    padding: 5px;
}

.credit--span > a{
    color: var(--green);
    text-decoration: none;
    position: relative;
}

.credit--span > a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(1);
    transform-origin:bottom left;
    background-color: var(--green);
    transition:  transform var(--transitions);
}